{% extends "base.html" %}
{% block content %}
    <h1 style="text-align: center; margin-bottom: 60px">My Snippets</h1>
    {% if snippets %}
        {% for snippet in snippets %}
            <div class="snippet" style="margin-bottom: 100px">
                <h2 style="color: #A127F2">{{snippet.name}}</h2>
                <p style="color: lightgray;">{{snippet.creation_date.date()}}</p>
                <p>{{snippet.description}}</p>
                <div id="code{{snippet.key.id()}}" style="font-size: medium">

                    <textarea id="codehidden{{snippet.key.id()}}">{{snippet.code}}</textarea>
                </div>
                <div style="text-align: center; margin-top: 20px;">
                    <div class="btn-group rate_group">
                        <button class="btn btn-purple" onclick="window.location.href='/mysnippets/delete?id={{ snippet.key.urlsafe() }}'"><i class="fas fa-trash"></i></button>
                        <button class="btn btn-appdark" onclick="window.location.href='/editsnippet?id={{ snippet.key.urlsafe() }}'"><i class="fas fa-edit"></i></button>
                    </div>
                </div>
            </div>
            <script>
                CodeMirror(document.getElementById("code{{snippet.key.id()}}"), {
                    value: $("#codehidden{{snippet.key.id()}}").val(),
                    theme: "monokai",
                    readOnly: true,
                    cursorHeight: 0.85,
                    mode: "text/x-csharp"
                });
                $("#codehidden{{snippet.key.id()}}").hide()
            </script>
        {% endfor %}
    {% else %}
        <h3 style="text-align: center; margin-top: 10%">You have not created any snippet yet</h3>
        <center><button class="btn btn-purple" href="/newsnippet">Create my first snippet!</button></center>
    {% endif %}
{% endblock content%}