body{
    background: whitesmoke;
}
#sidebar{
    background: #171B26;
    min-width: 350px;
    align-content: center;
    text-align: center;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

#content{
    position: absolute;
    left: 350px;
    min-height: 100%;
    right: 0;
    background-color: whitesmoke;
    transition: 0.5s;
}

#sidebar_header
{
    padding-top: 60px;
    padding-bottom: 40px;
    color: whitesmoke;
}

#sidebar_menu{
}

#sidebar_menu ul li :hover{
    background-color: #A127F2;
}


#sidebar_menu ul li:hover a{
    color: whitesmoke;
    opacity: 100%;
    font-weight: bold;
}

#sidebar_menu ul li a{
    color: whitesmoke;
    opacity: 50%;
    padding: 20px;
}



#hamburger{
    margin: 50px;
    margin-bottom: 0;
    color: whitesmoke;
    border: 0;
    background: #171B26;
    border-radius: 10px;
    font-size: xx-large;
}

#hamburger:hover i
{
    transform: rotate(360deg);
    transition: 1s;
}

#inner_content{
    display: inline;
}

.snippet{
    border: 1px solid lightgray;
    border-radius: 10px;
    background: white;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    .snippet{
        border: 1px solid lightgray;
        border-radius: 10px;
        background: white;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
    }
    .snippet:first-of-type
    {
        margin-top: 20px;
    }
}

.CodeMirror{
    border-radius: 10px;
    padding: 5px;
}

.rate_group{
    border-radius: 10px;
    border: 1px solid lightgray;
}

.btn-appdark{
    background: #171B26;
    opacity: 80%;
    color: whitesmoke;
}

.btn-purple{
    background: #A127F2;
    opacity: 80%;
    color: whitesmoke;
}

.btn-purple:hover{
    color: whitesmoke;
    opacity: 100%;
}

.btn-appdark:hover{
    color: whitesmoke;
    opacity: 100%;
}

