{% extends "base.html" %}
{% block content %}

    {% if snippets %}
        {% for snippet in snippets %}
            <div class="snippet" style="margin-bottom: 100px">
                <h2 style="color: #A127F2">{{snippet.name}}</h2>
                <div style="display: inline-flex;">
                    <h5>{{snippet.completeuser.username}}</h5>
                    <p style="color: lightgray; margin-left: 10px">{{snippet.creation_date.date()}}</p>
                </div>
                <p>{{snippet.description}}</p>
                <div id="code{{snippet.key.id()}}" style="font-size: medium">

                    <textarea id="codehidden{{snippet.key.id()}}">{{snippet.code}}</textarea>
                </div>
                <div style="text-align: center; margin-top: 20px;">
                    <div class="btn-group rate_group">
                        <button class="btn btn-appdark"><i class="fas fa-minus" style="margin-right: 5px"></i><i class="fas fa-minus"></i></button>
                        <p style="margin: 10px;">{{snippet.score}}</p>
                        <button class="btn btn-purple"><i class="fas fa-plus" style="margin-right: 5px"></i><i class="fas fa-plus"></i></button>
                    </div>
                </div>
            </div>
            <script>
                CodeMirror(document.getElementById("code{{snippet.key.id()}}"), {
                    value: $("#codehidden{{snippet.key.id()}}").val(),
                    theme: "monokai",
                    readOnly: true,
                    cursorHeight: 0.85,
                    mode: "text/x-csharp"
                });
                $("#codehidden{{snippet.key.id()}}").hide()
            </script>
        {% endfor %}
    {% else %}
        <h3 style="text-align: center; margin-top: 10%">No hay ningún snippet publicado aún</h3>
    {% endif %}

{% endblock %}